html
{
    font-family: Helvetica, sans-serif;
}

nav, ul, li, div
{
    display: inline-block;
}

a
{
    text-decoration: none;
    color: green;
    padding-left: 20px;
}

div
{
    
    font-size: 40px;
    font-weight: bold;
    margin-right: 60px;
}
