@import url(https://use.fontawesome.com/releases/v6.2.1/css/all.css);

ul
{
    display: inline-block;
}

li
{
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    list-style-type: none;
    background-color: rgb(229, 229, 229);
    border-radius: 50%;
}

a
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;   
}

i
{
    color: black;
}

.fa-square-facebook:hover
{
    color: rgb(20, 20, 184);
}

.fa-twitter:hover
{
    color: rgb(102, 196, 227);
}

.fa-google-plus:hover
{
    color: rgb(208, 64, 64);
}

.fa-linkedin:hover
{
    color: rgb(51, 174, 215);
}

.fa-instagram:hover
{
    color: rgb(77, 77, 183);
}
