html
{
    font-family: Helvetica, sans-serif;
}
body
{
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

article
{
    display: inline-block;
    width: 600px;
    margin: 10px 8px 10px 20px;
}
aside
{
    position: absolute;
    display: inline-block;
    width: 300px;
    
}

img
{
    width: 80%;  
}
